
*{margin:0;padding:0;}
*:focus {outline:none;} 
a{text-decoration: none;}
body{margin:0 auto;max-width:720px;font-size:0.85rem;font-family:"Microsoft Yahei";background:#fff;-webkit-tap-highlight-color: rgba(0,0,0,0);}
ul,li{list-style: none;}
.clearfix{clear:both;display: block;overflow: hidden;}
img{border:none;display:block;}
.wrapper{width: 100%;background:#fff;position: relative;margin:0 auto;}
.topbar {
  width: 100%;
    display: inline-block;
    padding: 0.6em 0;
    line-height: 2;
}
.topbar .btn-left{
  float: left;
  width: 2rem;
  padding-left: 1rem;
}
.topbar .btn-right{
  float: right;
  display: inline-block;
    font-size: 1.25rem;
    line-height: 1;
    color: #ed6d01;
  line-height: 1.5;
  padding-right: 1.6rem;
}
.topbar .btn-left img{width: 100%;}
.topbar h1{
  display: inline-block;
    font-size: 1.25rem;
    line-height: 1;
    color: #ed6d01;
    text-align: center;
    font-weight: normal;
    vertical-align: middle;
    margin-left: 1rem;
}
.classIcon{
    padding: 0.5rem 0.8rem;
}
.classIcon li {
    float: left;
    margin: 0 0 1rem 0;
    width: 25%;
}
.classIcon li a {
    display: block;
    width: 100%;
    color: #979797;
    font-size: 0.95rem;
    text-align: center;
}
.classIcon li a span {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
    margin-bottom: 0.2rem;
}
.classIcon li a span img {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.list{width: 100%;}
.list h1{
  font-size: 1.2rem;
  font-weight: normal;
  padding:0.6rem;
  margin: 0;
  border-top: 1px solid #d7d7d7;}
.list img{width: 100%;}
.span1{float: left;color: #ff3c00;}
.span2{float: right;color: #ff7800;}
.list dl{width: 100%;margin: 0 auto;}
.list dl dd{width: 30%;float: left;margin-left:2.5%;padding: 0.6rem 0;}
.list dl dd img{width: 100%;}